html, body {  
    overflow-x: hidden; 
   }
html {
  scroll-behavior: smooth;
}
.navbar{
    background: rgb(0,0,0,0.5);
}
.navbar .navbar-brand img{
    height: 70px;
    padding:10px 20px;
}
.navbar .nav-item{
    font-family: 'Roboto', sans-serif;

    color:white;
    margin:10px 15px;
    font-size:14px;
    /* font: Medium 14px/33px Roboto; */
}
.navbar li a{
    color:white;
}
.navbar .dropdown-menu{
    background: black;
    opacity: 0.9;
    border-radius:0px;
    padding: 20px 0px;
}
.navbar .dropdown-menu a{
    font-size: 14px;
    opacity: 1;
    padding-top:10px;
    padding-bottom: 10px;
}
.navbar .spec{
    background: transparent linear-gradient(180deg, rgba(255, 0, 35, 1) 0%, rgba(255, 0, 78, 1) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.main .carousel-inner .carousel-item {
    /* display: block; */
    padding:100px;
    padding-top:200px;
    background: url(../images/art.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.main .carousel-inner .row{
    padding:0px;
    display: block;
    
}

.main .carousel-inner .row h1{
    font-family: "Roboto";
    font-size:35px;
    margin:25px auto;
    color:white;
    text-align: center;
}
.main .carousel-inner .row .mh h1{
    font-size:40px;
    padding:36px;
}
.main .carousel-inner .row .mh-hide{
    display:none;
}
.main .carousel-inner .row p{
    color:white;
    text-align: center;
    font-family: "Roboto";
    padding:10px;
    font-size:22px;
}
.main .carousel-inner .row button{
    background:none;
    border:3px solid white;
    font-size:18px;
    color:white;
    padding:12px 40px;
    margin: 60px auto;
    display: block;
    transition: padding .5s;
}
.main .carousel-inner .row button:hover{
    padding:17px 45px;
}
.main .carousel-inner .row a:hover{
    text-decoration: none;
}
.contact{
    /* padding:50px; */
    font-family: 'Roboto', sans-serif;

}
.contact .col-lg-8{
    padding: 40px;
}
.contact .col-lg-8 h1{

    font-size:30px;
}
.contact span{
    padding-bottom:3px;
    border-bottom: 3px solid red;
}
.contact .col-lg-8 p{
    padding: 30px;
    padding-left: 0px;
    color: #575757;
    letter-spacing: 0.3px;
    font-size:15px;
}
.contact .col-lg-8 button{
    background: transparent linear-gradient(180deg, #FF0023 0%, #FF004E 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    color:white;
    padding:10px 40px;
    transition: padding 0.5s;
}
.contact .col-lg-8 button:hover{
    padding:12px 50px; 
}
.contact .col-lg-4{
    background: whitesmoke;
    padding:50px;
}
.contact .col-lg-4 h1{
    color:#333333;
    padding:0px;
    font-size:25px;
    margin:0px;
}
.contact .col-lg-4 .data{
    margin:20px;
}
.contact .col-lg-4 p{
    color: #6B6B6B;
    padding:0px;
}
.contact .col-lg-4 img{
    height: 65px;
    margin: 10px auto;
}
/* Heart Section */

.heart span{
    border-bottom: 3px solid orangered;
    padding-bottom: 10px;
}
.heart .row h1{
    color:white;
    text-align:center;
    font-size:25px;
    margin:20px auto;
}
.heart .row p{
    text-align: center;
    margin: 20px 60px;
    font-size:20px;
    color:white;
    word-spacing: 3px;
}
.heart .row img{
    height:70px;
    margin:40px auto;
    display: block;
}
.heart .row .col-lg-4{
    margin-bottom:250px;
    border:none;
    transition: border 1s;
}
.heart .row .col-lg-4:hover{
    margin-bottom:0px;
}
.heart .row .col-lg-4 ul{
    padding: 0px;
}
.heart .row .col-lg-4 span li{
    color:white;
    font-size:20px;
    margin:20px;
    text-align:center;
    list-style-type: none;
}

.heart .row .col-lg-4 span{
    display: none;
}
.heart .row .col-lg-4 a:hover{
    text-decoration: none;
}

.heart .row .col-lg-4:hover #cont{
    display: contents;
}
/* Testimonial Section */

.clients-car{
    background-color:white;
    padding:60px;
    
}
.clients-car h2 {
	color: black;
	text-align: center;
	font-family: "Roboto", sans-serif;
    font-weight: 900;
    display: block;
    font-size:26px;
    margin:40px ;
 
    
}
.clients-car .carousel {
    width: 500px;
    margin: 20px auto;
    padding: 50px 20px;
    padding-top:20px;
    border: 6px solid black;
    display: inline-block;
}
.clients-car .carousel .item {
	color: black;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.clients-car .carousel .item a{
	color: black;
}
.clients-car .carousel .img-box{
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.clients-car p{
    color:#575757;
}
.clients-car .carousel .img-box img{
	width: 100%;
    height: 100%;
    padding:20px;
	display: block;
	border-radius: 50%;
}
.clients-car .carousel .testimonial{	
	padding: 30px 0 10px;
}
.clients-car .carousel .overview{	
	text-align: center;
	padding-bottom: 5px;
}
.clients-car .carousel .overview b{
	color: #575757;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}

.clients-car .carousel .carousel-control{
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: black;
    text-shadow: none;
	top: 4px;
}
.clients-car span{
    padding-bottom: 5px;
    border-bottom: 4px solid #FF0023;
}
.clients-car .carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.clients-car .carousel-control.left {
	left: auto;
	right: 40px;
}
.clients-car .carousel-control.right i {
	margin-right: -2px;
}
.clients-car .carousel .carousel-indicators .active {
    background: #FF0023;
}
.clients-car .carousel .carousel-indicators li {
    background-color: #999;
    width: 10px;
    height: 10px;
    border-radius:50% ;
    background-color: rgba(70, 70, 70, 0.25);
}
/* FORM Section */
.form-sec{
    /* background:url(../images/contact-bg.jpg); */
    background-repeat: no-repeat;
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(242,241,240,1) 100%);

    background-size:cover;
    padding: 50px 0px;
    font-family: 'Roboto';
}
.form-sec .row{
    display: block;
    margin:0px auto;
}

.form-sec  input{
    border: 0.5px solid rgb(194, 191, 191);
    background:none;
    border-radius:0px;
}
.form-sec textarea{
    border: 0.5px solid rgb(194, 191, 191);
    background:none;
    border-radius: 0px;
}
.form-sec h1{
    font-size:25px;
    text-align:center;
    margin-bottom:40px;
}
.form-sec span{
    border-bottom: 4px solid #ff004e;
    padding-bottom:5px;
}
.form-sec button{
    padding:10px 30px;
    color:white;
    background:#FF004E;
    margin:20px auto;
    display:block;
    font-size:16px;
    transition: padding 0.5s;
}
.form-sec button:hover{
    padding: 10px 35px;
    font-size:17px;
}
/* Message line */
.message{
    font-family: 'Roboto' ;
    padding:15px;
    background: #FF004E;
}
.message .row{
 margin: 10px auto;
}
.message h3{
    font-size:20px;
    margin: 0px auto;
    color: white;
}
.message button{
    background:whitesmoke;
    border:none;
    color:#FF004E;
    font-size: 16px;
    padding:10px 15px;
    margin: 0px 40px;    
}
/* Footer */
footer{
    background: #01051F;
    font-family: 'Roboto';
}
footer .row{
    padding:20px;
}
footer .row .col-lg-4{
    padding:10px;
    margin: 0px;
}
footer .row .col-lg-4 .col-lg-4{
    padding:0px;
}
footer .row .col-lg-4 .col-lg-4 h3{
    font-size:16px;
    color:#FF004E;
    margin:0px;
    margin-bottom: 10px ;
}
footer .row .col-lg-4 .col-lg-4 a{
    font-size:14px;
    display: block;
    padding:5px;
    padding-left:0px;
    color:white
}
footer .row .col-lg-4 .col-lg-8{
    padding:0px;
}

footer .row .col-lg-4 .col-lg-8 h3{
    font-size:16px;
    color:#FF004E;
    margin: 0px;
    margin-bottom: 10px ;
}
footer .row .col-lg-4 .col-lg-8 p{
    font-size:14px;
    color:white;
}
footer .col-lg-4 img{
    height:60px;
    margin:30px;
}
footer .abt p{
    margin: 0px 30px;
    color:white;
    font-size:15px;
    line-height: 30px;
}
footer .col-lg-4 h3{
    color:white;
    margin:20px;
    font-size:20px;
}
footer .col-lg-4 b{
    color: white;
    margin:20px;
}
footer .col-lg-4 input{
    margin:20px;
    margin-right:10px;
    padding:7px 80px;
    padding-left:10px;
    color:grey;
}
footer .col-lg-4 button{
    background:#FF004E;
    border:none;
    color:white;
    padding:8px 20px;

}
/* Thank you Page */
.thank{
    padding:30px;
}
.thank .row img{
    height:100px;
    margin:0px auto;
    display: block;
}
.thank .row{
    padding:15px;
}
.thank .row h1{
    color:grey;
    font-size:25px;
    margin:0px auto;
    text-align: center;
}
.thank .row p{
    text-align: center;
    margin: 0px auto;
}
/* Development */
.develop{
    font-family: 'Roboto';
    padding:220px;
    padding-bottom:200px;
    background: url(../images/develop-bg.jpg);

    background-repeat:no-repeat;
    background-size:cover;
    background-position: 20%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.develop .row h1{
    color:white;
    text-align: center;
    margin:20px auto;
    font-size:50px;
}
.develop .row h3{
    color:white;
    font-size:50px;
    margin:10px auto;
}
.d-main .row{
    display: block;
}
.d-main .row img{
    display: block;
    margin:0px auto;
}
.d-main .row a{
    margin: 0px auto;
    font-size:20px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}
.d-main .row a:hover{
    text-decoration: none;
    color: red;
}
/* Careers */
.career{
    font-family: 'Roboto';
    padding:220px;
    padding-bottom:200px;
    background-repeat:no-repeat;
    background-size:cover;
    background: url(../images/careers-bg.jpg);
    background-position: 20%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.career .row h1{
    color:white;
    text-align: center;
    margin:20px auto;
    font-size:50px;
}
.career .row h3{
    color:white;
    margin:10px auto;
}
.c-main{
    padding:50px;
}
.c-main h1{
    margin: 20px auto;
    text-align: center;
}
.c-main h1 span{
    font-size:30px;
    font-weight: 200;
}
.c-main .accordion{
    display: block;
    margin:40px auto;
}
.c-main .accordion .card{
    margin:4px;
    border-radius: 0px;
}
.c-main .accordion button{
    color: black;
    font-size:20px;
    text-decoration: none;

}
.c-main .accordion button:hover{
    color:orangered;
    text-decoration: none;
}
/*  Content and Studio Pages */
.content{
    font-family: 'Roboto';
    padding:180px;
    padding-bottom:100px;
    background-repeat:no-repeat;
    background-size:fill;
    background: url(../images/content_bg.png);
    background-position: 20%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.content .row h1, .studio .row h1{
    margin:0px auto;
    padding:20px 0px;
    color:white;
}
.content .row h3,.studio .row h3{
    color:white;
    padding:30px 0px;
    font-size:25px;
    text-align: center;
}
.content .row span, .studio .row span{
    border-bottom:2px solid white;
    padding-bottom: 10px ;
}
.studio{
    font-family: 'Roboto';
    padding:200px 70px;
    padding-bottom:100px;
    background: url(../images/content\ strategy.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 20%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

.m-text{
    padding:10px;
}
.m-text p{
    text-align: center;
    padding:20px 130px;
    color:#575757;
    font-size:15px;
    padding-bottom:0px;
    line-height: 30px;
    word-spacing: 1px;
}
.m-text a{
    margin: 0px auto;
    display: block;
    height: 20px;
}
.m-text a img{
    height: 20px;
}
.tab-content h5{
    font-weight: bolder;
    font-size:18px;
}
.strategy{
    padding:20px;
    font-family: 'Roboto';
    display: contents;
}
.strategy p{
    padding:10px 20px;
    padding-top:0px;
    padding-right:60px;
    color:#575757;
    font-size:15px;
    line-height: 30px;
    word-spacing: 1px;
}
.strategy .und{
    padding-bottom:10px;
    border-bottom:4px solid red;
}
.strategy h1{
    padding:20px;
    margin-bottom:15px; 
    font-size:26px;
}
.strategy ul{
    padding:20px;

}
.strategy ul .active{
    padding-bottom:8px;
    border-bottom: 4px solid #FF004E;
}
.strategy ul a{
    padding:10px;
    color: black;
    padding:10px 30px;
    font-size:20px;
    transition: font-size 1s;
    border-right: 1px solid grey;

    
}
.strategy ul a:hover{
    text-decoration: none;
   
}
.strategy .tab-content{
    padding:40px;
}
.strategy .tab-content h1{
    padding:0px;
    margin-bottom:20px;
}
.strategy .tab-content p{
    color: #575757;
    padding-left:0px;
    padding-right:30px;
    line-height: 30px;
}
.strategy .dropdown .dropdown-menu ul{
    display: block;
    padding:10px 0px;
}
.strategy .dropdown .dropdown-menu ul .active{
    border-bottom:none;
    background: grey;
}
.strategy .dropdown .dropdown-menu ul li{
    margin:20px 0px;

}
.strategy .dropdown .dropdown-menu ul a{
    border-right: 0px solid white;
    font-size:18px;
    display: block;
}
.strategy .dropdown button{
    margin:20px;
    padding:10px;
    background: #FF0023;
    border:none;
    border-radius:0px;
}
.strategy .dropdown{
    display: none;
}
.strategy img{
    height:60px;
    margin-right: 20px;
}
#particles-js{
    position: absolute;
    width:100%;
    height:100%;
    z-index:-1;
}

.strategy a button{
    background:#FF0023;
    color:white;
    margin-left:20px;
    margin-bottom:40px;
    padding:6px 20px;
    border:none;
    font-size:14px;
}
/* Responsive Code */

@media screen and (max-width: 900px){
/* Index Page Responive Code */
.navbar  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .navbar-brand img{
    height:55px;
    padding:10px;
}
.navbar .spec{
    background:none;
}
.main .carousel-inner .carousel-item{
    padding:50px;
    background-position:60% ;
    padding-top:120px;
}
.main .carousel-inner .row{
    padding:10px;
}
.main .carousel-inner .row h1{
    font-size:20px;
    margin-bottom:20px;
}
.main .carousel-inner .row .mh h1{
    font-size:25px;
    text-align: center;
    margin:0px;
    padding: 43px 0px;
}
.main .carousel-inner .row .mh-hide{
    display:block;
}
.main .carousel-inner .row p{
    font-size:16px;
}
.main .carousel-inner .row button{
    margin: 10px auto;
    padding: 8px 20px;
    font-size:13px;
}
.contact .col-lg-4{
    background:whitesmoke;
}
.contact .col-lg-8{
    padding:40px;
}
.contact .col-lg-8 h1{
    font-size:25px;
}
.contact .col-lg-4{
  padding:40px;
}
.heart .row p{
    font-size:16px;
    line-height: 40px;
}
.clients-car h2{
    font-size:22px;
} 
.clients-car{
    padding:40px;
}
.form-sec{
    padding:20px;
}
.message h3{
    font-size:16px;
    text-align: center;
}
.message button{
    margin-top:20px;
}
footer .col-lg-4.abt img{
    margin:30px 10px;
}
footer .col-lg-4.abt p{
    margin:0px 10px;
}
footer .col-lg-4.lin{
    padding-left:15px;
    margin:0px;
}
footer .col-lg-8.lin1{
    margin-top:10px;
}
footer .col-lg-4.cal{
    display:none;
}
/* Content and Studio Pages Responisve Code */
.content,.studio,.career,.develop{
    padding:40px;
    padding-top:160px;
}
.content .row, .studio .row{
    margin:30px;
}
.content .row h3{
    padding:10px;
    font-size:22px;
}
.studio .row h3{
    padding:10px;
    font-size:17px;
}
.m-text p{
    padding:30px;
    text-align: left;
}
.m-text a img{
    display: none;
}
.strategy h1{
    font-size:20px;
}
.strategy .pc{
    display: none;
}
.strategy .dropdown{
    display: block;
}
.strategy .nav-tabs li{
    margin-top:30px;
    display: block;
}
.career .row h1,.develop .row h1{
    color:white;
    text-align: center;
    margin:20px auto;
    font-size:40px;
}
.career .row h3,.develop .row h3{
    color:white;
    margin:10px auto;
    text-align: center;
    font-size:20px;
    margin-bottom:60px;
}
.d-main .row img{
    display: block;
    /* padding:0px; */
    margin:0px auto;
    height:250px;
}

}

/* Repsonsive Stuff Ends here */