#floating {  
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating{
from { transform: translate(10, 0px); }
85%  { transform: translate(0px, 5px); }
to   { transform: translate(0, 0px); }    
}
.floating1{  
    animation-name: floating1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating1 {
    from { transform: translate(0, 225px); }
    65%  { transform: translate(0px, -10px); }
    to   { transform: translate(0, 225px); }    
}

.floating3{  
    animation-name: floating3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating3 {
    from { transform: translate(0, 225px); }
    65%  { transform: translate(0px, -10px); }
    to   { transform: translate(0, 225px); }    
}
/* @keyframes floating3 {
from { transform: translate(0, -10px); }
65%  { transform: translate(0px, 225px); }
to   { transform: translate(0, -10px); }    
} */
.floating2{  
    animation-name: floating2;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating2 {
    from { transform: translate(0, 225px); }
    65%  { transform: translate(0px, -10px); }
    to   { transform: translate(0, 225px); }    
}
.floater{
    animation-name:floater;
    animation-duration:2s;
    animation-iteration-count:1;
    animation-timing-function: ease-in-out;
} 
@keyframes floater{
    from { transform: translate(0, 220px); }
    60%  { transform: translate(0px, -10px); } 
    }
/* CSS Animation Part Above */
html, body {  
    overflow-x: hidden; 
   }
html {
  scroll-behavior: smooth;
}
.navbar{
    background: rgb(0,0,0,0.4);
}
.navbar .navbar-brand img{
    height: 70px;
    padding:10px 20px;
}
.navbar .nav-item{
    font-family: 'Roboto', sans-serif;

    color:white;
    margin:10px 15px;
    font-size:14px;
    /* font: Medium 14px/33px Roboto; */


}
.spec{
    background: transparent linear-gradient(180deg, rgba(255, 0, 35, 1) 0%, rgba(255, 0, 78, 1) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.main .carousel-inner .carousel-item{
    /* display: block; */
    padding:200px;
    background: url(../images/art.png);
    background-size:cover;
}

.main .carousel-inner .row{
    padding:20px;
    display: block;
}
.main .carousel-inner .row h1{
    margin:0px auto;
    color:white;
    text-align: center;
}
.main .carousel-inner .row p{
    color:white;
    text-align: center;
}
.main .carousel-inner .row button{
    background: none;
    border:2px solid white;
    color:white;
    padding:15px 40px;
    margin: 0px auto;
    display: block;
}
.contact{
    /* padding:50px; */
    font-family: 'Roboto', sans-serif;

}
.contact .col-lg-8{
    padding: 50px;
}
.contact .col-lg-8 h1{

    font-size:30px;
}
.contact span{
    padding-bottom:3px;
    border-bottom: 3px solid red;
}
.contact .col-lg-8 p{
    padding: 30px;
    padding-left: 0px;
    color: #575757;
    letter-spacing: 0.3px;
    font-size:15px;
}
.contact .col-lg-8 button{
    background: transparent linear-gradient(180deg, #FF0023 0%, #FF004E 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    color:white;
    padding:10px 40px;
}
.contact .col-lg-4{
    background: whitesmoke;
    padding:50px;
}
.contact .col-lg-4 .col-lg-8{
    padding: 10px;
}
.contact .col-lg-4 .row{
    margin: 40px 0px;
}
.contact .col  .col-lg-8 h1{
    color:#333333;
    padding:0px;
    font-size:25px;
    margin:0px;
}
.contact .col-lg-4 .col-lg-8 p{
    color: #6B6B6B;
    padding:0px;
}
.contact .col-lg-3 img{
    height: 65px;
    margin: 10px auto;
}
/* Heart Section */
.heart .row h1{
    color:white;
    text-align:center;
    font-size:25px;
    margin:20px auto;
}
.heart{
    padding:30px 0px;
}
.heart span{
    border-bottom: 3px solid orangered;
    padding-bottom: 10px;
}

.heart .row .col-lg-3{
    margin:0px 50px;
    margin-bottom:250px;
    border:none;
    padding:30px;
    transition: border 2s;
}
.heart .row .col-lg-3:hover{
    border:5px solid white;
}
.heart .row .col-lg-3:hover{
    margin-bottom:0px;
    transform: none;
}
.heart .row .col-lg-3 h1{
    padding:100px; 
}
.heart .row .col-lg-3 img{
    margin: 0px auto;
    display: block;
}
.heart .row .col-lg-3 span li{
    color:white;
    font-size:20px;
    padding:15px;
    text-align:center;
    list-style-type: none;
    text-decoration: none;
}

.heart .row .col-lg-3 span{
    display: none;
}

.heart .row .col-lg-3:hover #cont{
    display: contents;
}
.heart p{
    color:white;    
    padding:30px;
    padding-top:0px;
    font-size:20px;
    display: block;
    margin:20px auto;
}
.heart .row img{
    height:90px;
}
.clients-car{
    background-color:white;
    padding:60px;
    
}
.clients-car h2 {
	color: black;
	text-align: center;
	/* text-transform: uppercase; */
	font-family: "Roboto", sans-serif;
    font-weight: 900;
    display: block;
    font-size:26px;
    margin:40px ;
 
    
}

.clients-car .carousel {
    width: 500px;
    margin: 20px auto;
    padding: 50px 20px;
    padding-top:20px;
    border: 6px solid black;
    display: inline-block;
}

.clients-car .carousel .item {
	color: black;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.clients-car .carousel .item a{
	color: black;
}
.clients-car .carousel .img-box{
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.clients-car p{
    color:#575757;
}
.clients-car .carousel .img-box img{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.clients-car .carousel .testimonial{	
	padding: 30px 0 10px;
}
.clients-car .carousel .overview{	
	text-align: center;
	padding-bottom: 5px;
}
.clients-car .carousel .overview b{
	color: #575757;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}

.clients-car .carousel .carousel-control{
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: black;
    text-shadow: none;
	top: 4px;
}
.clients-car span{
    padding-bottom: 5px;
    border-bottom: 4px solid #FF0023;
}
.clients-car .carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.clients-car .carousel-control.left {
	left: auto;
	right: 40px;
}
.clients-car .carousel-control.right i {
	margin-right: -2px;
}
.clients-car .carousel .carousel-indicators .active {
    /* bottom: 15px; */
    background: #FF0023;
}
.clients-car .carousel .carousel-indicators li {
    background-color: #999;
    width: 10px;
    height: 10px;
    border-radius:50% ;
    background-color: rgba(70, 70, 70, 0.25);
}
/*  */
.form-sec{
    background:whitesmoke;
    padding:50px;
    font-family: 'Roboto';
}
.form-sec h1{
    font-size:25px;
    text-align:center;
    margin-bottom:40px;
}
.form-sec span{
    border-bottom: 4px solid #ff004e;
    padding-bottom:5px;
}
.form-sec .row{
    padding:20px;
}
.form-sec .row input{
    padding:10px 160px;
    padding-left:15px;
    color:grey;
    margin:0px 15px;
}
.form-sec .row textarea{
    margin: 0px 30px;
    color:grey;
}
.form-sec .row button{
    padding:10px 30px;
    color:white;
    background:#FF004E;
    margin:0px auto;
    display:block;
}
/* Message line */
.message{
    font-family: 'Roboto' ;
    padding:15px;
    background: #FF004E;
}
.message .row{
 margin: 10px auto;
}
.message h3{
    font-size:20px;
    margin: 0px auto;
    color: white;
}
.message button{
    background:whitesmoke;
    border:none;
    color:#FF004E;
    font-size: 16px;
    padding:10px 15px;
    margin: 0px 40px;    
}
/* Footer */
footer{
    background: #01051F;
    font-family: 'Roboto';
}
footer .row{
    padding:20px;
}
footer .row .col-lg-4{
    padding:10px;
    margin: 0px;
}
footer .row .col-lg-4 .col-lg-4{
    padding:0px;
}
footer .row .col-lg-4 .col-lg-4 h3{
    font-size:16px;
    color:#FF004E;
    margin:0px;
    margin-bottom: 10px ;
}
footer .row .col-lg-4 .col-lg-4 a{
    font-size:14px;
    display: block;
    padding:5px;
    padding-left:0px;
    color:white
}
footer .row .col-lg-4 .col-lg-8{
    padding:0px;
}

footer .row .col-lg-4 .col-lg-8 h3{
    font-size:16px;
    color:#FF004E;
    margin: 0px;
    margin-bottom: 10px ;
}
footer .row .col-lg-4 .col-lg-8 p{
    font-size:14px;
    color:white;
}
footer .col-lg-4 img{
    height:60px;
    margin:30px;
}
footer .abt p{
    margin: 0px 30px;
    color:white;
    font-size:15px;
    line-height: 30px;
}
footer .col-lg-4 h3{
    color:white;
    margin:20px;
    font-size:20px;
}
footer .col-lg-4 b{
    color: white;
    margin:20px;
}
footer .col-lg-4 input{
    margin:20px;
    margin-right:10px;
    padding:7px 80px;
    padding-left:10px;
    color:grey;
}
footer .col-lg-4 button{
    background:#FF004E;
    border:none;
    color:white;
    padding:8px 20px;

}
/* CONTENT PAGE */
.content{
    font-family: 'Roboto';
    padding:180px;
    padding-bottom:100px;
    background: url(../images/content_bg.png);
    background-position: 20%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);

}
.content .row {
    display: block;
}
.content .row h1{
    text-align: center;
    color:white;
}
.content .row h3{
    color:white;
    padding:30px;
    font-size:25px;
    text-align: center;
}
.content span{
    border-bottom:2px solid white;
    padding-bottom: 10px ;
}
.m-text{
    padding:10px;
}
.m-text p{
    text-align: center;
    padding:20px 130px;
    color:#575757;
    font-size:16px;
    padding-bottom:0px;
    line-height: 30px;
    word-spacing: 1px;
}
.m-text img{
    margin: 0px auto;
    display: block;
    height: 20px;
}
.strategy{
    padding:20px;
    font-family: 'Roboto';
}
.strategy h1{
    padding:10px;
    font-size:30px;
}
.strategy ul{
    padding:20px;

}
.strategy ul .active{
    padding-bottom:8px;
    border-bottom: 4px solid #FF004E;
}
.strategy ul a{
    padding:10px;
    color: black;
    padding:10px 30px;
    font-size:20px;
    transition: font-size 1s;
    border-right: 1px solid grey;

    
}
.strategy ul a:hover{
    text-decoration: none;
   
}
.strategy .tab-content{
    padding:40px;
}
.strategy .tab-content h1{
    padding:0px;
    margin-bottom:20px;
}
.strategy .tab-content p{
    color: #575757;
    padding-right:30px;
    line-height: 30px;
}
.strategy img{
    height:60px;
    margin-right: 20px;
}
#particles-js{
    position: absolute;
    width:100%;
    height:100%;
    z-index:-1;
}

/* Responsive Stuff */

@media screen and (max-width: 700px){

.navbar  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .navbar-brand img{
    height:55px;
    padding:10px;
}
.spec{
    background:none;
}
.main .carousel-inner{
    padding:70px;
    background-position: 50% ;
    padding-top:140px;
}
.main .carousel-inner .row{
    padding:10px;
}
.main .carousel-inner .row h1{
    font-size:20px;
    margin-bottom:20px;
    
}
.main .carousel-inner .row p{
    font-size:16px;
}
.main .carousel-inner .row button{
    margin: 10px auto;
    padding: 8px 20px;
    font-size:13px;
}
.contact .col-lg-8{
    padding:40px;
}
.contact .col-lg-8 h1{
    font-size:25px;
}
.contact .col-lg-8 p{
    padding:20px 0px;
}
.contact .col-lg-4{
  padding:20px;
}
.contact .col-lg-4 .row{
    margin:20px;
}
.contact .col-lg-4 h1{
    margin:05px auto;
    font-size:35px;
    text-align: center;
}
.contact .col-lg-4 .col-lg-8 p{
    text-align:center;
    font-size:18px;
}
.contact .col-lg-3 img{
    display: block;
    height: 70px;
}
.heart .row h1{
    margin:0px auto;
}
.heart p{
    text-align: center;
    font-size:19px;
    line-height: 45px;
    padding:45px;
    margin: 0px auto;
}
.clients-car h2{
    font-size:22px;
} 
.clients-car{
    padding:40px;
}
.form-sec{
    padding:15px;
}
.form-sec .row input{
    padding:7px 110px;
    margin:10px;
    border:2px solid rgb(199, 199, 199);
    padding-left:15px;
}
.form-sec .row{
    padding:10px;
}
.message h3{
    font-size:16px;
    text-align: center;
}
.message button{
    margin-top:20px;
}
footer .row .lin{
    margin:20px;
    margin-top:0px;
}
footer .lin1{
    margin-top:20px;
}
footer .cal{
    display: none;
}
}

